# Exécutables et dossiers de build
bin/
obj/

# Artefacts de compilation C
*.o
*.obj
*.d

# Fichiers locaux ou temporaires d'éditeurs
.vscode/
.idea/
*.swp
*~

# Logs
*.log

# Fichiers système
.DS_Store

*.exe

*.out

*.res