# Exécutables et dossiers de build
bin/
obj/

# Artefacts de compilation C
*.o
*.obj
*.d

# Fichiers locaux ou temporaires d'éditeurs
.vscode/
.idea/
*.swp
*~

# Logs
*.log

# Fichiers système
.DS_Store

*.exe

*.out

*.res



# Ignorer le dossier deps par défaut
deps/

# Réinclure uniquement notre arborescence OpenSSL minimale
!deps/openssl/
!deps/openssl/include/
!deps/openssl/include/**
!deps/openssl/lib/
!deps/openssl/lib/VC/
!deps/openssl/lib/VC/x64/
!deps/openssl/lib/VC/x64/MD/
!deps/openssl/lib/VC/x64/MD/libssl.lib
!deps/openssl/lib/VC/x64/MD/libcrypto.lib